/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin-ext,latin);

@oxygen {
	font-family: 'Oxygen', sans-serif;
}


/* Elements */

@input {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	@oxygen;
	@insetShadow(0px, 1px, 2px, 1px, #eee);
	color:#333;
	padding:4px 7px;
	border:1px solid #cccccc;
	font-size: 13px;
	@semiBold;
	@borderRadius(1px);
	@transition;
	width: 210px;

	&:focus {
		border-color: rgba(82, 168, 236, 0.8);
		@innerOuterShadow;
		outline: 0;
	}
}

@greyButton {
	padding: 7px 13px;
	margin: 0;
	border: none;
	@verticalGradient(#818181, #646464);
	@boxShadow(0, 1px, 5px, #444);
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	cursor: pointer;
	@borderRadius(2px);
	@noSelect;

	&:hover, &:focus {
		@verticalGradient(#929292, #646464);
	}

	&:active {
		@innerOuterShadow(0, 5px, 7px, 1px, #666, 0, 1px, 2px, #777);
	}
}