#settings_page {
	padding: 25px 30px 0;

	h2 {
		color: #444;
		text-shadow: #DDD 0 1px 0;
		margin-bottom: 15px;
	}

	form.settings_form {
		.editForm;

		> div {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 30px;
			margin-right: 30px;

			&.control_buttons, &.image, &.wysiwyg, &.markdown, &.textarea {
				display: block;
				margin-right: 0;
			}

			div.characters_left {
				right: 3px;
			}

			select {
				width: 226px;
			}
		}

		div.image_container {
			display: inline-block;

			img {
				max-width: 100%;
			}

			input[type=button] {
				right: -30px !important;
			}
		}
	}
}